@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
    exclude: rootscrollgutter, rootcolor;
}

@layer base {
    html {
        @apply max-md:bg-gray-300;
    }

    body {
        @apply min-h-lvh bg-linear-to-t from-gray-300 to-gray-100 text-gray-700 overflow-y-scroll;
    }

    .wrapper {
        @apply max-w-2xl mx-auto;
    }
}
